
footer{
    margin-top: 50px;
}
footer .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
    padding-left: none;
}
.footer{
	background-color: #003865;
    padding: 70px 0;
}
.footer-items{
   width: 25%;
   padding: 0 15px;
}
.social-links{
    padding: 0 30px;
}
footer p{
	color: #f2f2f2;
    text-transform: capitalize;

}
.footer-items h4, .social-links h4{
	font-size: 20px;
	color: #f2f2f2;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-items h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #3CCF4E;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-items ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-items ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: 500;	
	display: block;
	transition: all 0.3s ease;
}
.footer-items ul li a:hover{
	color: #EF5B0C;
	padding-left: 8px;
}
.footer-items .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-items .social-links a:hover{
	color: #24262b;
	background-color: #FFA900;
}

.footer-items li{
    padding-left: none!important;
}

/*responsive*/
@media(max-width: 767px){
  .footer-items{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-items{
    width: 100%;
}
}